body{
    /* background: linear-gradient(25deg,rgba(255, 192, 203, 0.7),dark rgb(185, 61, 82) 50%); */
    background-color: rgb(145, 120, 124);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    font-family: sans-serif ;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
color: #555;
text-align: center;
    margin-top: 0px;
}

input[type="text"]{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #f2f2f2;
    border-radius: 2px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
}

.addToDoBtn{
    font-size: 1rem;
    background-color: blue;
    padding: 8px 20px;
    color: white;
    border: none;
    transition: background-color 0.3s easee-in-out;
}
button:hover {
    background-color: bisque;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li{
    padding: 10px;
    background-color: #eee;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      word-wrap: break-word;
    white-space: normal;
    
}
li:last-child{
    margin-bottom: 0px;
}
.delete-todo-btn:hover{
     margin-left: 20px;
    justify-content: space-between;
    padding: 7px;
    background-color: rgba(108, 20, 20, 0.676);
}
